{% extends 'base.html.twig' %}

{% block title %}ShowDB - {{ show.title }}{% endblock %}

{% block body %}

    <h1>{{show.title}}</h1>
        <ul class="list-inline">
            {% for category in show.categories %}
                <a href="{{ path('category_detail', {'label': category.label}) }}"><li class="list-inline-item">{{ category.label }}</li></a>
            {% endfor %}
        </ul>
    <p>{{ show.synopsis }}</p>
    <h2>Saisons</h2>
    <ul class="list-group">
        {% for season in show.seasons %}
            <li class="list-group-item list-group-item-action">
                Saison {{ season.number }} (sortie en {{ season.year }})
                {% if season.episodes is not empty %}
                <details>
                    <summary>Voir les épisodes</summary>
                    <ul>
                        {% for episode in season.episodes %}
                            <li>Episode {{ episode.number }} : {{ episode.title }}</li>
                        {% endfor %}
                    </ul>
                </details>
            {% endif %}
            </li>
            
        {% endfor %}
    </ul>
    <h2>Personnages</h2>
        <ul class="list-group">
            {% for character in show.characters %}
                <li class="list-group-item list-group-item-action">{{ character.name }}</li>
            {% endfor %}
        </ul>


    {% dump(show) %}

{% endblock %}
